<% include ../partials/header %>
<section class="showcase showcase--single showcase--content">
	<div class="forum__list">
		<div class="forum__section">
			<div class="forum__section__header">
				<h2>Forum Section</h2>
				<h4 class="forum__section__header__label">Posts</h4>
				<h4 class="forum__section__header__label">Replies</h4>
				<h4 class="forum__section__header__label">Last Post</h4>
			</div>
			<div class="forum forum--single">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
		</div>
		<div class="forum__section">
			<div class="forum__section__header">
				<h2>Forum Section</h2>
			</div>
			<div class="forum forum--top">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
			<div class="forum forum--bottom">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
		</div>

		<div class="forum__section">
			<div class="forum__section__header">
				<h2>Forum Section</h2>
			</div>
			<div class="forum forum--top">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
			<div class="forum">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
			<div class="forum">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
			<div class="forum forum--bottom">
				<h2 class="forum__title">Forum Title</h2>
				<h3 class="forum__feature">Forum Feature</h3>
				<h3 class="forum__stat forum__stat--1">Stat 1</h3>
				<h3 class="forum__stat forum__stat--2">Stat 2</h3>
				<h3 class="forum__stat forum__stat--3">Stat 3</h3>
			</div>
		</div>
	</div>
</section>

<% include ../partials/footer %>