<% include ../partials/header %>
<section class="showcase">
	<div class="form__container">
		<form class="form" action="/forums/<%= topicId %>" method="POST">
			<h1 class="form__title">New Forum</h1>
			<div class="form__group form__group--input">
				<div class="form__input form__input--top">
					<i class="fas fa-chevron-right input__icon"></i>
					<input class="text__input" name="forum[title]" placeholder="Forum Name" type="text" autofocus autocomplete="false" maxlength="40">
				</div>
				<div class="form__input form__input--large form__input--bottom">
					<i class="fas fa-chevron-right input__icon"></i>
					<textarea autocapitalize="off" spellcheck="false" class="text__input--large" name="forum[description]" autocomplete="false"></textarea>
				</div>
			</div>
			<input class="form__submit" type="submit" value="Create">
		</form>
		<p class="form__links">
			<a class="form__link form__link--two" href="/forums">Go Back</a>
		</p>
	</div>
</section>
<% include ../partials/footer %>