<% include ../partials/header %>
<section class="showcase showcase--single showcase--content">
	<div class="post__list">

		<div class="list__controls">
			<a class="list__control" href="/posts/new">New Post</a>
		</div>

		<div class="post__section">
			<div class="post__section__header">
				<h2><%= forum.title %></h2>
				<p class="post__section__header__label">Replies</p>
				<p class="post__section__header__label">Last Reply</p>
			</div>
			<% posts.forEach(post => { %>
			<div class="post post--single">
				<h2 class="post__title"><%= post.title %></h2>
				<h3 class="post__author">created by
					<%= post.author.username %>
					<%= moment(post.createdAt).fromNow() %></h3>
				<h3 class="post__stat post__stat--1">Stat 1</h3>
				<h3 class="post__stat post__stat--2">Stat 2</h3>
			</div>
			<% }); %>
		</div>

		<!-- <div class="post__section">
			<div class="post__section__header">
				<h2>Post Section</h2>
				<p class="post__section__header__label">Replies</p>
				<p class="post__section__header__label">Last Reply</p>
			</div>
			<div class="post post--top">
				<h2 class="post__title">Post Title</h2>
				<h3 class="post__author">Post Author</h3>
				<h3 class="post__stat post__stat--1">Stat 1</h3>
				<h3 class="post__stat post__stat--2">Stat 2</h3>
			</div>
			<div class="post post--bottom">
				<h2 class="post__title">Post Title</h2>
				<h3 class="post__author">Post Author</h3>
				<h3 class="post__stat post__stat--1">Stat 1</h3>
				<h3 class="post__stat post__stat--2">Stat 2</h3>
			</div>
		</div>

		<div class="post__section">
			<div class="post__section__header">
				<h2>Post Section</h2>
				<p class="post__section__header__label">Replies</p>
				<p class="post__section__header__label">Last Reply</p>
			</div>
			<div class="post post--top">
				<h2 class="post__title">Post Title</h2>
				<h3 class="post__author">Post Author</h3>
				<h3 class="post__stat post__stat--1">Stat 1</h3>
				<h3 class="post__stat post__stat--2">Stat 2</h3>
			</div>
			<div class="post">
				<h2 class="post__title">Post Title</h2>
				<h3 class="post__author">Post Author</h3>
				<h3 class="post__stat post__stat--1">Stat 1</h3>
				<h3 class="post__stat post__stat--2">Stat 2</h3>
			</div>
			<div class="post post--bottom">
				<h2 class="post__title">Post Title</h2>
				<h3 class="post__author">Post Author</h3>
				<h3 class="post__stat post__stat--1">Stat 1</h3>
				<h3 class="post__stat post__stat--2">Stat 2</h3>
			</div>
		</div> -->

	</div>
</section>

<% include ../partials/footer %>