<% include ../partials/header %>
<section class="showcase showcase--single showcase--content">
	<div class="post__list">
		<div class="post__section">
			<div class="post__section__header">
				<h2>Post Section</h2>
				<h4 class="post__section__header__label">Replies</h4>
				<h4 class="post__section__header__label">Last Reply</h4>
			</div>
			<div class="post post--top">
				<h2 class="post__title">Post Title</h2>
				<h3 class="post__author">Post Author</h3>
				<h3 class="post__stat post__stat--1">Stat 1</h3>
				<h3 class="post__stat post__stat--2">Stat 2</h3>
			</div>

			<div class="post">
				<h2 class="post__title">Post Title</h2>
				<h3 class="post__author">Post Author</h3>
				<h3 class="post__stat post__stat--1">Stat 1</h3>
				<h3 class="post__stat post__stat--2">Stat 2</h3>
			</div>

			<div class="post post--bottom">
				<h2 class="post__title">Post Title</h2>
				<h3 class="post__author">Post Author</h3>
				<h3 class="post__stat post__stat--1">Stat 1</h3>
				<h3 class="post__stat post__stat--2">Stat 2</h3>
			</div>
		</div>
	</div>
</section>

<% include ../partials/footer %>