<% include ./partials/header %>
  <section class="showcase">
    <div>
      <h1 class="showcase__title">About Us</h1>
      <p class="showcase__subtitle">We are a multidisciplined, passionate community of developers.</p>
    </div>
  </section>

  <section class="callout--page">
    <h1 class="callout__title">Subscribe To Our Newsletter</h1>
    <form class="callout__form">
      <div class="form__input--callout">
        <i class="input__icon--callout fas fa-envelope"></i>
        <input class="text__input--callout" type="email" placeholder="email address">
      </div>
      <input class="callout__form__submit" type="submit" value="Subscribe">
    </form>
  </section>
<% include ./partials/footer %>