<% include ./partials/header %>
  <section class="showcase">
    <div>
      <h1 class="showcase__title">Welcome!</h1>
      <!-- <h1 class="showcase__title">Functional Programming</h1>
      <h1 class="showcase__title">Web Development</h1> -->
      <!-- <p class="showcase__subtitle">We are a multidisciplined, passionate community of developers.</p> -->
    </div>
  </section>

  <section class="callout">
    <!-- <h1 class="callout__title">Subscribe To Our Newsletter</h1>
    <form class="form form--callout" action="#" method="post"
		name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="form__input form__input--callout">
        <i class="input__icon fas fa-envelope"></i>
				<input class="text__input" type="email" value="" name="EMAIL" placeholder="email" required>
			</div>
			<div style="position: absolute; left: -5000px;" aria-hidden="true">
				<input type="text" name="b_9222ef29d1b360b8a1411dcb7_2b096b6917" tabindex="-1" value="">
			</div>
      <input class="form__submit form__submit--callout" type="submit" value="Subscribe">
		</form> -->
  </section>
<% include ./partials/footer %>