/* GLOBALS */

:root {
	--black: #292e33;
	--lightblack: hsla(210, 11%, 50%, 1);
	--gold: #c7ac62;
	--silver: #83939a;
	--blue: #3e6a9f;
	--offwhite: #f7f7f7;

	--lavender: #6c5b7b;
	--begonia: #f67280;
	--cream: #f8b195;
	--rose: #c06c84;
	--ming: #355c7d;
}

html {
	font-size: 16px;
}

html,
body {
	font-family: "IBM Plex Sans", sans-serif;
	height: 100%;
}

/* HEADER and NAV */

header {
	align-items: center;
	background: var(--black);
	border-bottom: 5px solid var(--gold);
	display: flex;
	height: 90px;
	justify-content: space-between;
	padding: 0 40px 0 20px;
}

.brand {
	align-items: center;
	color: var(--offwhite);
	display: flex;
	font-weight: 600;
	font-size: 1.75rem;
	height: 100%;
	margin-right: 20px;
	text-decoration: none;
}

nav {
	align-items: center;
	display: flex;
}

.nav__section {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 30px;
}

.nav__link {
	color: white;
	font-size: 0.9rem;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.nav__link:after {
	background: linear-gradient(to right, var(--gold), rgba(199, 172, 98, 0));
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	margin-top: 2px;
	width: 0px;
	transition: all 100ms;
}

.nav__link:hover:after {
	background: linear-gradient(to right, var(--gold), rgba(199, 172, 98, 0));
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	margin-top: 2px;
	width: 40px;
}

.active {
	color: var(--gold);
}

.active:after {
	background: linear-gradient(to right, var(--gold), rgba(199, 172, 98, 0));
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	margin-top: 2px;
	width: 40px;
}

.dropdown--nav:hover:after {
	background: none;
	content: "";
	display: none;
	height: 0px;
	position: absolute;
	margin-top: 0px;
	width: 0px;
}

.nav__divider {
	background: white;
	height: 60px;
	margin: 0 30px;
	width: 1px;
}

.nav--small {
	display: none;
}

.dropdown__content {
	min-width: 200px;
	z-index: 100;
	transition: all 100ms;
}

.dropdown__icon {
	color: var(--offwhite);
	font-size: 1.5rem;
	transition: all 100ms;
}

.dropdown__icon--clicked {
	transform: rotateZ(90deg);
	transition: all 100ms;
}

.dropdown__link {
	text-decoration: none;
}

.dropdown__content--big {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
}

.dropdown__spacer--big {
	height: 90px;
	pointer-events: none;
	top: 0;
}

.dropdown__content--visible {
	background: var(--black);
	border-radius: 0 0 0 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .25);
	display: grid;
	grid-auto-flow: row;
	grid-gap: 20px;
	justify-items: end;
}

.dropdown__content--visible {
	padding: 20px 40px 20px 20px;
}

.dropdown__content--small {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}

.dropdown__spacer {
	height: 90px;
	pointer-events: none;
}

.dropdown__divider--small {
	background: var(--offwhite);
	height: 1px;
	width: 100%;
}

.dropdown__content--visible--small {
	padding: 20px;
}

.dropdown__show {
	opacity: 1;
	pointer-events: all;
}

/* SHOWCASE */

.showcase {
	align-items: center;
	background: url("../images/dust_scratches.png");
	background-repeat: repeat;
	box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);
	color: var(--black);
	display: flex;
	height: calc(100% - 90px - 180px);
	justify-content: center;
	text-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.showcase > div {
	max-width: 90%;
}

.showcase--single {
	height: calc(100% - 180px);
}

.showcase--content {
	align-items: flex-start;
}

.showcase__title {
	font-size: 6.5vw;
	margin: 0;
	text-align: center;
}

.showcase__subtitle {
	font-size: 3vw;
	text-align: center;
}

/* CALLOUTS */

.callout--page {
	align-items: center;
	background: var(--black);
	color: white;
	display: flex;
	height: 180px;
	justify-content: space-between;
	padding: 0 40px 0 20px;
}

.callout__title {
	color: var(--offwhite);
	margin-right: 20px;
	font-weight: 600;
	font-size: 1.75rem;
}

.callout__form {
	display: grid;
	grid-template-columns: 300px 100px;
	max-width: 90%;
}

.form__input--callout {
	align-items: center;
	background: hsla(210, 11%, 31%, 1);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
	color: var(--offwhite);
	display: flex;
	height: 50px;
}

.input__icon--callout {
	margin-left: 15px;
	margin-right: 15px;
}

.text__input--callout {
	background: none;
	border: none;
	color: var(--offwhite);
	outline: none;
	width: calc(100% - 45px);
}

.callout__form__submit {
	background: var(--blue);
	border: none;
	/* border-top-right-radius: 5px; */
	border-radius: 0 5px 5px 0;
	/* border-bottom-right-radius: 5px; */
	color: var(--offwhite);
	cursor: pointer;
	outline: none;
	width: 100px;
}

.callout__form__submit:active {
	box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
}

/* BODY CONTAINER */

.alert {
	color: var(--offwhite);
	font-size: 1rem;
	pointer-events: none;
	position: fixed;
	top: -50px;
	width: 100%;
	text-align: center;
	transition: all 250ms;
}

.alert--content {
	border-radius: 0 0 10px 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: inline;
	padding: 10px;
}

.alert--error {
	background: var(--gold);
}

.alert--success {
	background: var(--blue);
}

.alert--show {
	top: 10px;
}

/* FORMS */

.form__container {
	background: var(--black);
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	color: white;
	padding: 10px 20px;
}

.auth__form {
	display: grid;
	grid-auto-flow: row;
	grid-gap: 20px;
}

.auth__form--title {
	text-align: center;
}

/* .form__group {
  border-radius: 5px;
  display: grid;
} */

.form__group--input {
	background: hsla(210, 11%, 31%, 1);
	border-radius: 5px;
	box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.15);
}

.form__input {
	align-items: center;
	/* background: hsla(208, 40%, 55%, 1); */
	border-bottom: 1px solid hsla(210, 11%, 28%, 1);
	color: white;
	display: flex;
	height: 50px;
}

.form__input--large {
	align-items: flex-start;
	height: 200px;
	padding-top: 15px;
}

.input__icon {
	margin-left: 15px;
	margin-right: 15px;
}

.form__input--bottom {
	border: none;
}

.text__input {
	background: none;
	border: none;
	color: var(--offwhite);
	outline: none;
	width: calc(100% - 63px);
}

.text__input--large {
	background: none;
	border: none;
	color: var(--offwhite);
	outline: none;
	resize: none;
	width: calc(100% - 63px);
}

.form__submit {
	border: none;
	border-radius: 5px;
	background: var(--blue);
	color: var(--offwhite);
	cursor: pointer;
	height: 50px;
}

.form__submit:active {
	box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
}

.auth__form--links {
	display: grid;
	grid-auto-flow: column;
	grid-template-areas: "one two three";
	grid-template-columns: repeat(3, minmax(70px, 150px));
	margin-top: 30px;
}

.auth__form__link {
	color: var(--lightblack);
	text-decoration: none;
}

.auth__form__link--one {
	grid-area: one;
}

.auth__form__link--two {
	grid-area: two;
	justify-self: center;
}

.auth__form__link--three {
	grid-area: three;
	justify-self: right;
	text-align: right;
}

/* FORUMS */

.forum__list, .post__list {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 15px 0;
	width: 90%;
}

.list__controls {
	margin-bottom: 10px;
	width: 100%;
	max-width: 700px;
}

.list__control {
	background: var(--blue);
	border-radius: 5px;
	color: var(--offwhite);
	/* font-size: .75rem; */
	padding: 8px;
	text-decoration: none;
}

.forum__section, .post__section {
	display: grid;
	width: 100%;
	max-width: 700px;
	margin-bottom: 30px;
}

.forum, .post {
	align-items: center;
	background: var(--black);
	border-bottom: 1px solid var(--lightblack);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
	color: var(--offwhite);
	display: grid;
	grid-template-areas:
		"title stat1 stat2 stat3"
		"feature stat1 stat2 stat3";
	grid-template-columns: auto repeat(3, 60px);
	grid-template-rows: 1fr 1fr;
	height: 75px;
	width: 100%;
}

.post {
	grid-template-areas:
		"title stat1 stat2"
		"feature stat1 stat2";
	grid-template-columns: auto repeat(2, 60px);
}

.forum__section__header, .post__section__header {
	align-items: center;
	display: grid;
	grid-template-columns: auto repeat(3, 60px);
}

.post__section__header {
	display: grid;
	grid-template-columns: auto repeat(2, 60px);
}

.forum__section__header__label, .post__section__header__label {
	align-self: end;
	font-size: .70rem;
	justify-self: center;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}

.forum--single, .post--single {
	border-radius: 5px;
}

.forum--top, .post--top {
	border-radius: 5px 5px 0 0;
}

.forum--bottom, .post--bottom {
	border: none;
	border-radius: 0 0 5px 5px;
}

.forum__title, .post__title {
	align-self: end;
	color: var(--offwhite);
	font-size: 1.3rem;
	font-weight: 300;
	margin: 0 0 0 10px;
	text-decoration: none;
}

.forum__title:hover, .post__title:hover {
	color: var(--gold);
	cursor: pointer;
}

.forum__feature, .post__author {
	color: hsla(210, 11%, 55%, 1);
	font-weight: 300;
	font-size: .75rem;
	grid-area: feature;
	margin: 0 0 0 10px;
}

.forum__stat, .post__stat {
	align-self: center;
	color: hsla(210, 11%, 75%, 1);
	font-weight: 300;
	font-size: .85rem;
	justify-self: center;
}

.forum__stat--1, .post__stat--1 {
	grid-area: stat1;
}

.forum__stat--2, .post__stat--2 {
	grid-area: stat2;
}

.forum__stat--3 {
	grid-area: stat3;
}

/* FOOTER */

footer {
	align-items: center;
	background: var(--gold);
	color: var(--black);
	display: flex;
	height: 90px;
	justify-content: center;
}

@media (max-height: 600px) {
	.showcase {
		height: calc(100% - 50px - 180px);
	}

	.showcase--single {
		height: calc(100% - 50px - 90px);
	}

	header {
		height: 50px;
	}

	.dropdown__spacer {
		height: 50px;
	}

	.dropdown__spacer--big {
		height: 50px;
	}

	.nav__divider {
		height: 30px;
	}
}

@media (max-width: 905px) {
	.callout--page {
		align-items: center;
		color: white;
		display: flex;
		flex-direction: column;
		height: 180px;
		justify-content: space-between;
		padding: 20px 20px;
	}
	.callout__title {
		margin: 0;
		width: 90%;
		text-align: center;
	}
	.callout__form {
		grid-template-columns: 1fr 100px;
	}
}

@media (max-width: 700px) {
	html, body {
		font-size: 14px;
	}
	.nav--big {
		display: none;
	}
	.nav--small {
		display: inline;
		grid-auto-flow: row;
	}
	header {
		
		height: 50px;
		padding: 0 20px;
		width: 100%;
		top: 0;
	}
	.brand {
		font-size: 1.5rem;
		margin: 0;
	}

	.showcase {
		box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);
		height: calc(100% - 50px - 150px);
	}

	.showcase--single {
		height: calc(100% - 50px - 90px);
	}

	.dropdown__spacer {
		height: 50px;
	}

	.dropdown__spacer--big {
		height: 50px;
	}

	.nav__divider {
		height: 30px;
	}
	.callout--page {
		height: 150px;
	}
}



@media screen and (min-width: 1200px) {
  .showcase__title {
     font-size: 78px;
	}
	.showcase__subtitle {
		font-size: 36px;
	}
}