/* GLOBALS */

:root {
	--black: #292e33;
	--lightblack: hsla(210, 11%, 50%, 1);
	--gold: #c7ac62;
	--silver: #83939a;
	--blue: #3e6a9f;
	--offwhite: #f7f7f7;
	--lavender: #6c5b7b;
	--begonia: #f67280;
	--cream: #f8b195;
	--rose: #c06c84;
	--ming: #355c7d;
	--headerHeight: 90px;
	--headerHeightSM: 50px;
}

html,
body {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	justify-content: space-between;
	font-family: "Ubuntu", sans-serif;
	height: 100%;
	width: 100%;
}

path {
	pointer-events: none;
}

/* HEADER and NAV */

header {
	align-items: center;
	background: var(--black);
	border-bottom: 5px solid var(--gold);
	display: flex;
	height: var(--headerHeight);
	min-height: 90px;
	justify-content: space-between;
	padding: 0 40px 0 20px;
}

.brand {
	align-items: center;
	color: var(--offwhite);
	display: flex;
	font-weight: 600;
	font-size: 1.75rem;
	height: 100%;
	margin-right: 20px;
	text-decoration: none;
}

nav {
	align-items: center;
	display: flex;
}

.nav__section {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 30px;
}

.nav__link {
	color: white;
	font-size: 0.9rem;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.nav__link:after {
	background: linear-gradient(to right, var(--gold), rgba(199, 172, 98, 0));
	content: "";
	display: block;
	height: 3px;
	position: absolute;
	margin-top: 2px;
	width: 0px;
	transition: all 100ms;
}

.nav__link:hover:after {
	background: linear-gradient(to right, var(--gold), rgba(199, 172, 98, 0));
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	margin-top: 2px;
	width: 40px;
}

.active {
	color: var(--gold);
}

.active:after {
	background: linear-gradient(to right, var(--gold), rgba(199, 172, 98, 0));
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	margin-top: 2px;
	width: 40px;
}

.nav__divider {
	background: white;
	height: 60px;
	margin: 0 30px;
	width: 1px;
}

.nav--small {
	display: none;
}

.dropdown__icon, .nav__link {
	cursor: pointer;
}

.dropdown__icon {
	color: var(--offwhite);
	font-size: 1.5rem;
	transition: all 100ms;
}

.dropdown__icon--clicked {
	transform: rotateZ(90deg);
}

.dropdown__content {
	background: var(--black);
	border-radius: 0 0 0 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
	display: grid;
	grid-auto-flow: row;
	grid-gap: 20px;
	justify-items: end;
	min-width: 200px;
	opacity: 0;
	padding: 20px 40px;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: var(--headerHeight);
	transition: all 100ms;
	z-index: 100;
}

.dropdown__divider--small {
	background: var(--offwhite);
	height: 1px;
	width: 100%;
}

.dropdown__open {
	pointer-events: none;
}

.dropdown__show {
	opacity: 1;
	pointer-events: all;
}

/* SHOWCASE */

.showcase {
	align-items: center;
	background: url("../images/dust_scratches.png");
	background-repeat: repeat;
	color: var(--black);
	display: flex;
	flex-grow: 2;
	flex-shrink: 0;
	justify-content: center;
	padding: 20px;
}

.showcase > div {
	max-width: 90%;
}

.showcase--content {
	align-items: flex-start;
}

.showcase__title {
	font-size: 6.5vw;
	margin: 0;
	text-align: center;
}

.showcase__subtitle {
	font-size: 3vw;
	text-align: center;
}

/* CALLOUTS */

.callout {
	align-items: center;
	background: var(--black);
	color: white;
	display: flex;
	height: 140px;
	justify-content: space-between;
	min-height: 140px;
	padding: 0 40px 0 20px;
}

.callout__title {
	color: var(--offwhite);
	font-weight: 600;
	font-size: 1.5rem;
}

/* ALERTS */

.alert {
	color: var(--offwhite);
	font-size: 1rem;
	pointer-events: none;
	position: fixed;
	top: -50px;
	width: 100%;
	text-align: center;
	transition: all 250ms;
}

.alert--content {
	border-radius: 0 0 10px 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: inline;
	padding: 10px;
}

.alert--error {
	background: var(--gold);
}

.alert--success {
	background: var(--blue);
}

.alert--show {
	top: 10px;
}

/* FORMS */

.form__container {
	background: var(--black);
	border-radius: 5px;
	/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
	color: white;
	padding: 20px 20px;
}

.form {
	display: grid;
	grid-auto-flow: row;
	grid-gap: 20px;
}

.form--callout {
	grid-gap: 0;
	grid-template-columns: auto 100px;
	max-width: 100%;
}

.form__title {
	text-align: center;
}

.form__group {
	background: hsla(210, 11%, 31%, 1);
	border-radius: 5px;
	box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.15);
}

.form__input {
	align-items: center;
	border-bottom: 1px solid hsla(210, 11%, 28%, 1);
	color: var(--offwhite);
	display: flex;
	height: 50px;
}

.form__input--callout {
	background: hsla(210, 11%, 31%, 1);
	border-radius: 5px 0 0 5px;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
	color: var(--offwhite);
	display: flex;
	height: 50px;
}

.form__input--large {
	align-items: flex-start;
	height: 200px;
	padding: 15px 0;
}

.input__icon {
	margin-left: 15px;
	margin-right: 15px;
}

.form__input--bottom {
	border: none;
}

.text__input {
	background: none;
	border: none;
	color: var(--offwhite);
	outline: none;
	width: calc(100% - 63px);
}

.text__input--large {
	background: none;
	border: none;
	color: var(--offwhite);
	outline: none;
	resize: none;
	height: calc(100%);
	width: calc(100% - 63px);
}

.form__submit {
	background: var(--blue);
	border: none;
	border-radius: 5px;
	color: var(--offwhite);
	cursor: pointer;
	height: 50px;
	outline: none;
}

.form__submit--callout {
	border-radius: 0 5px 5px 0;
	width: 100px;
}

.form__submit:active {
	box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
}

.form__links {
	display: grid;
	grid-auto-flow: column;
	grid-template-areas: "one two three";
	grid-template-columns: repeat(3, minmax(70px, 150px));
	margin-top: 30px;
}

.form__link {
	color: var(--lightblack);
	text-decoration: none;
}

.form__link--one {
	grid-area: one;
}

.form__link--two {
	grid-area: two;
	justify-self: center;
}

.form__link--three {
	grid-area: three;
	justify-self: right;
	text-align: right;
}

/* LISTS */

.list {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 90%;
}

.list__controls {
	align-items: center;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto auto 1fr;
	grid-template-rows: auto 30px;
	grid-template-areas:
		"controls controls controls"
		"paginator paginator paginator";
	justify-content: start;
	justify-items: start;
	max-width: 1000px;
	width: 100%;
}

.list__controls--bottom {
	grid-template-rows: 30px auto;
	grid-template-areas:
		"paginator paginator paginator"
		"controls controls controls";
}

.list__control {
	align-self: center;
	background: var(--blue);
	border-radius: 5px;
	color: var(--offwhite);
	font-size: 0.75rem;
	font-weight: 300;
	padding: 8px;
	text-align: center;
	text-decoration: none;
}

.list__control span {
	margin-left: 10px;
}

.paginator {
	align-items: center;
	display: grid;
	grid-area: paginator;
	grid-auto-flow: column;
	grid-auto-columns: repeat(auto-fill, 1fr);
	justify-items: center;
	/* justify-self: end; */
	list-style: none;
	padding: 0;
	width: 100%;
}

.paginator > li {
	font-size: 1rem;
	height: 1.5rem;
	width: 100%;
}

.paginator__link {
	align-items: center;
	background: var(--black);
	border-left: 1px solid white;
	border-right: 1px solid white;
	color: var(--offwhite);
	cursor: pointer;
	display: flex;
	height: 100%;
	justify-content: center;
	text-decoration: none;
	width: 100%;
}

.paginator__link:hover {
	color: var(--gold);
}

.paginator--first {
	border: none;
	border-right: 1px solid white;
	border-radius: 5px 0 0 5px;
}

.paginator--last {
	border: none;
	border-left: 1px solid white;
	border-radius: 0 5px 5px 0;
}

.paginator--active {
	background: var(--blue);
	pointer-events: none;
}

.paginator--disabled {
	background: var(--lightblack);
	pointer-events: none;
}

.list__section {
	display: grid;
	width: 100%;
	max-width: 1000px;
	margin-bottom: 20px;
}

.list__section__header {
	display: grid;
	grid-template-columns: auto repeat(3, 50px);
}

.list__section__header--2stat {
	display: grid;
	grid-template-columns: auto repeat(2, 50px);
}

.list__section__header--nostat {
	display: grid;
	grid-template-columns: auto;
}

.list__section__title {
	align-items: center;
	display: grid;
	grid-gap: 10px;
	grid-auto-flow: column;
	grid-template-columns: auto 1fr;
	justify-items: start;
}

.list__section__label {
	align-self: end;
	font-size: 0.7rem;
	justify-self: center;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	text-align: center;
}

.list__feature {
	color: hsla(210, 11%, 55%, 1);
	font-weight: 300;
	font-size: 0.65rem;
}

.list__item {
	align-items: center;
	background: var(--black);
	border-bottom: 1px solid var(--lightblack);
	/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); */
	color: var(--offwhite);
	display: grid;
	grid-template-areas:
		"title stat1 stat2 stat3"
		"feature stat1 stat2 stat3";
	grid-template-columns: auto repeat(3, 50px);
	grid-template-rows: 1fr 1fr;
	min-height: 75px;
	padding: 0 0 0 10px;
	width: 100%;
}

.list__item--2stat {
	grid-template-areas:
		"title stat1 stat2"
		"feature stat1 stat2";
	grid-template-columns: auto repeat(2, 50px);
}

.list__item--nostat {
	grid-template-areas:
		"feature"
		"content";
	grid-template-columns: auto;
	grid-template-rows: 25px auto;
	padding: 0 10px;
}

.list__item--single {
	border-radius: 5px;
}

.list__item--top {
	border-radius: 5px 5px 0 0;
}

.list__item--bottom {
	border: none;
	border-radius: 0 0 5px 5px;
}

.list__item__title {
	color: var(--offwhite);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	text-decoration: none;
}

.list__item__content {
	color: var(--offwhite);
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
}

.list__item__title:hover {
	color: var(--gold);
	cursor: pointer;
}

.list__item__feature {
	color: hsla(210, 11%, 55%, 1);
	font-weight: 300;
	font-size: 0.65rem;
	grid-area: feature;
}

.list__item__stat {
	align-self: center;
	color: hsla(210, 11%, 75%, 1);
	color: hsla(210, 11%, 55%, 1);
	font-weight: 300;
	font-size: 0.65rem;
	justify-self: center;
	padding: 5px;
	text-align: center;
}

.list__item__stat--1 {
	grid-area: stat1;
}

.list__item__stat--2 {
	grid-area: stat2;
}

.list__item__stat--3 {
	grid-area: stat3;
}

/* FOOTER */

footer {
	align-items: center;
	background: var(--gold);
	color: var(--black);
	display: flex;
	height: 90px;
	min-height: 90px;
	justify-content: center;
	margin-bottom: -90px;
}

/* RESPONSIVE */

@media (max-height: 600px) {
	header {
		height: var(--headerHeightSM);
		min-height: var(--headerHeightSM);
	}

	.dropdown__content {
		top: var(--headerHeightSM);
	}

	.nav__divider {
		height: 30px;
	}
}

@media (max-height: 400px) {
	.showcase {
		min-height: calc(100% - var(--headerHeightSM));
	}
}

@media (max-width: 810px) {
	.callout {
		flex-direction: column;
		padding: 20px;
	}
	.callout__title {
		margin: 0;
		text-align: center;
	}
	.callout__form {
		grid-template-columns: 1fr 100px;
	}
}

@media (max-width: 700px) {
	.nav--big {
		display: none;
	}
	.nav--small {
		display: inline;
		grid-auto-flow: row;
	}
	header {
		padding: 0 20px;
	}

	.brand {
		font-size: 1.5rem;
		margin: 0;
	}

	.nav__divider {
		height: 30px;
	}
}

@media (max-width: 375px) {
	.callout__title {
		font-size: 1.25rem;
	}
}

@media screen and (min-width: 1200px) {
	.showcase__title {
		font-size: 78px;
	}
	.showcase__subtitle {
		font-size: 36px;
	}
}
