<% include ../partials/header %>
<section class="showcase showcase--single">
	<div class="form__container">
		<form class="form" action="/posts/<%= forumId %>" method="POST">
			<h1 class="form__title">New Post</h1>
			<div class="form__group form__group--input">
				<div class="form__input form__input--top">
					<i class="fas fa-chevron-right input__icon"></i>
					<input class="text__input" name="post[title]" placeholder="Post Name" type="text" autofocus maxlength="140" required>
				</div>
				<div class="form__input form__input--large form__input--bottom">
					<i class="fas fa-chevron-right input__icon"></i>
					<textarea autocapitalize="off" spellcheck="false" class="text__input--large" name="post[content]" autocomplete="false" required></textarea>
				</div>
			</div>
			<input class="form__submit" type="submit" value="Create">
		</form>
		<p class="form__links">
			<a class="form__link form__link--two" href="/forums/<%= forumId %>">Cancel</a>
		</p>
	</div>
</section>
<% include ../partials/footer %>