<% include ../partials/header %>
  <section class="showcase showcase--single">
    <div class="form__container">
      <form class="form" action="/topics" method="POST">
        <h1 class="form__title">New Topic</h1>
        <div class="form__group form__group--input">
          <div class="form__input form__input--top">
            <i class="fas fa-chevron-right input__icon"></i>
            <input class="text__input" name="topic[title]" placeholder="Topic Name" type="text" autofocus autocomplete="false" maxlength="40"
              required>
          </div>
          <div class="form__input form__input--large form__input--bottom">
            <i class="fas fa-chevron-right input__icon"></i>
            <textarea autocapitalize="off" spellcheck="false" class="text__input--large" name="topic[description]" autocomplete="false"
              required></textarea>
          </div>
        </div>
        <input class="form__submit" type="submit" value="Create">
      </form>
      <p class="form__links">
        <a class="form__link form__link--two" href="/forums">Go Back</a>
      </p>
    </div>
  </section>
  <% include ../partials/footer %>